<button class="icon-big gear-icon" ng-class="{ld:sc.ld, sd:sc.sd, md:sc.md, hd:sc.hd, active: sc.showSettings}" ng-click="sc.toggleSettings()" data-step="5" data-intro="Settings" title="Settings"/>
<div class="panel panel-default settings-panel" collapse='!sc.showSettings'>
  <div class="panel-heading">
    Settings</div>
  <div class="panel-body">
    <tabset>
      <tab heading="Point" data-toggle="tooltip" title="Settings related to the display of the points.">
        <form class="form-horizontal">
          <div class="form-group" data-toggle="tooltip" title="Set the number of visible points at one time, in Millions.">
            <label class="col-sm-4 control-label" for="pointCountTarget">
              Number of points (M)
            </label>
            <div class="col-sm-8">
              <input class="form-control" id="pointCountTarget" max="10.0" min="0.1" ng-model="sc.PointcloudService.settings.pointCountTarget" step="0.1" type="number"/>
            </div>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Set the size modifier of the individual points.">
            <label class="col-sm-4 control-label" for="pointSize">
              Point size
            </label>
            <div class="col-sm-8">
              <input class="form-control" id="pointSize" max="3.0" min="0.01" ng-model="sc.PointcloudService.settings.pointSize" step="0.01" type="number"/>
            </div>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Sdet the type of coloration of the points. Please note that for AHN2 only height is useful.">
            <label class="col-sm-4 control-label" for="pointColorType">
              Color by
            </label>
            <div class="col-sm-8">
              <select class="form-control" id="pointColorType" ng-model="sc.PointcloudService.settings.pointColorType" ng-options="value as key|lowercase for (key, value) in sc.PointcloudService.settings.pointColorTypes | orderBy:value"/>
            </div>
          </div>

        <div class="form-group" data-toggle="tooltip" title="Select the Quality preset. Higher presets require more graphics power.">
          <label class="col-sm-4 control-label" for="predefinedSettings">
            Quality
          </label>
          <div class="col-sm-8">
            <select class="form-control" id="predefinedSettings" ng-model="sc.PointcloudService.settings" ng-change="sc.settingsChanged(value)" ng-options="value as key for (key, value) in sc.PointcloudService.predefinedSettings | orderBy:index" ng-init="sc.PointcloudService.settings=sc.PointcloudService.predefinedSettings.STANDARD"/>
          </div>
        </div>
        </form>
      </tab>
      <tab heading="Misc" data-toggle="tooltip" title="Settings for miscellaneous things.">
        <form class="form-horizontal misc">
          <div class="form-group" data-toggle="tooltip" title="Show the skybox, or don't.">
            <label class="col-sm-8 control-label" for="showSkybox">Show sky
            </label>
            <div class="col-sm-4">
              <input id="showSkybox" ng-model="sc.PointcloudService.settings.showSkybox" type="checkbox">
            </div>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Show additional info about the points visible.">
            <label class="col-sm-8 control-label" for="showStats">
              Show info
            </label>
            <div class="col-sm-4">
              <input id="showStats" ng-model="sc.PointcloudService.settings.showStats" type="checkbox">
            </div>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Show the octree grid (for debugging).">
            <label class="col-sm-8 control-label" for="showBoundingBox" title="Show bounding box of pointcloud octree nodes">
              Show grid
            </label>
            <div class="col-sm-4">
              <input id="showBoundingBox" ng-model="sc.PointcloudService.settings.showBoundingBox" type="checkbox">
            </div>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Set the default movement speed in keyboard mode.">
            <label class="col-sm-8 control-label" for="normalSpeedMultiplier">
              Hovering speed</br>[use arrow key(s)]
            </label>
            <div class="col-sm-4">
              <input class="form-control" id="normalSpeedMultiplier" ng-model="sc.PathControls.NORMAL_MOVEMENT_SPEED_MULTIPLIER" type="number"/>
            </div>
          </div>
          <div class="form-group" data-toggle="tooltip" title="Set the fast (space held) movement speed in keyboard mode.">
            <label class="col-sm-8 control-label" for="fastSpeedMultiplier">
              Fast hovering speed</br>[use spacebar+arrow key(s)]
            </label>
            <div class="col-sm-4">
              <input class="form-control" id="fastSpeedMultiplier" ng-model="sc.PathControls.FAST_MOVEMENT_SPEED_MULTIPLIER" type="number"/>
            </div>
          </div>
        </form>
      </tab>
    </tabs>
  </div>
</div>
