<span class="controls-box">
  <button class="giga-octicon octicon icon-big octicon-globe" ng-class="{active: earthcontrols.enabled}" ng-click="earthcontrols.toggleEarthcontrols()" data-step="8" data-intro="Google Earth-like controls" title="Switch to Google Earth-like controls"></button>
  <button class="giga-octicon octicon icon-big octicon-keyboard" ng-class="{active: !earthcontrols.enabled}" ng-click="earthcontrols.toggleEarthcontrols()" data-step="9" data-intro="Keyboard controls" title="Switch to keyboard controls"></button>
</span>
