<div class="camera-modes btn-group">
  <button class="icon-big onrails-icon" ng-show="!cmc.orbitModeEnabled" ng-click="cmc.PathControls.enableRailsMode()" ng-model="cmc.cameraMode" btn-radio="'onrails'" title="On rails"></button>
  <button class="icon-big fly-icon" ng-show="!cmc.orbitModeEnabled" ng-click="cmc.PathControls.enableFlightMode()" ng-model="cmc.cameraMode" btn-radio="'fly'" title="Free fly"></button>
  <button class="icon-big demo-icon" ng-show="!cmc.orbitModeEnabled" ng-click="cmc.PathControls.enableDemoMode()" ng-model="cmc.cameraMode" btn-radio="'demo'" title="Demo mode"></button>

  <button class="icon-big back-icon" ng-show="cmc.orbitModeEnabled" ng-click="cmc.exitOrbitMode()" title="Exit orbit mode"></button>
</div>
