<div class="modal fade" id="helpModal" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="helpModal.onClose()">
          <span class="glyphicon glyphicon-remove" aria-hidden="true">
          </span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Welcome to AHN2 point cloud viewer!</h4>
      </div>

      <div class="modal-body">
        <div ng-show="!helpModal.mobile&&helpModal.chrome" class="panel-body">
            <p><input type="checkbox" ng-model="helpModal.doNotShow" ng-change="helpModal.dontShowClicked()"> Do not show this message at refresh again.</p>
            <p>This software is free and open source (<a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License Version 2.0</a>) developed at the <a href="https://www.esciencecenter.nl/">Netherlands eScience Center</a>. For further details, please refer to the <a href="https://github.com/NLeSC/ahn-pointcloud-viewer">GitHub page</a>.</p>
            <p>Contributions are welcome! If you have some issues or comments, please report these <a href="https://github.com/NLeSC/ahn-pointcloud-viewer/issues">here</a>.</p>
            <h2>Graphical User Interface</h2>
            <button onclick="introJs().start()">User interface step-by-step</button>
            <p>The point cloud viewer consists of several elements:</p>
            <ul>
                <li>at the center: <a onclick="introJs().goToStepNumber(1).start()">main display window</a> for point cloud data,</li>
                <li>top-left: <a onclick="introJs().goToStepNumber(2).start()">search box for a location</a></li>
                <li>top-right: <a onclick="introJs().goToStepNumber(3).start()">minimap</a></li>
                <li>bottom-left:
                    <ul>
                        <li><a onclick="introJs().goToStepNumber(4).start()">export points</a>,</li>
                        <li><a onclick="introJs().goToStepNumber(5).start()">settings</a>,</li>
                        <li><a onclick="introJs().goToStepNumber(6).start()">help</a>,</li>
                        <li><a onclick="introJs().goToStepNumber(7).start()">toolbox</a></li>
                    </ul>
                <li>bottom-middle: two buttons to switch between Google Earth-like controls and keyboard interaction (see <a href="#navigation">below</a>)</li>
            </ul>

            <h2 id="navigation">Navigation</h2>
            <div>
              <p>
                <b><span class="octicon octicon-inverted octicon-globe"></span>&nbsp;<a onclick="introJs().goToStepNumber(8).start()">Google Earth-like controls</a></b>
                  <ul>
                    <li>use the left/right mouse buttons to move or rotate the camera
                    <li>use the scroll wheel to zoom in/out
                  </ul>
              </p>
              <p>
                <b><span class="octicon octicon-inverted octicon-keyboard"></span>&nbsp;<a onclick="introJs().goToStepNumber(9).start()">Keyboard interaction</a></b>
                  <ul>
                      <li>use the right mouse button to rotate camera</li>
                      <li>use the arrow or a/s/d/w keys to move left/backward/right/forward</li>
                      <li>use the q/z keys to move up or down</li>
                      <li>use the scroll wheel to increases or decreases the field of view</li>
                      <li>hold down the spacebar to move faster</li>
                  </ul>
              </p>
            </div>

            <h2 id="extract">
                <span class="glyphicon glyphicon-download inverted-glyphicon"></span>
                Export points</h2>
            <div>
                Select and export points in the LAZ file format. The download URL will be mailed to you as soon as the processing is completed.
                Points can be selected by one of the three approaches:
                <ul>
                    <li>clicking on two points in the minimap,</li>
                    <li>drawing a box in the 3D point cloud visualization; this only works in the <i>Keyboard interaction</i> navigation mode,</li>
                    <li>entering the actual coordinates into the input form.</li>
                </ul>

                Note that the coordinates are based on the <a href="http://epsg.io/28992">Amersfoort/RD new</a> coordinate system.
                The number of points in the selected area can be equal to or less than the number indicated.
                The coverage indicates the percentage of point cloud data available for download.
                Since the number of points one can download is limited ([N]), the resolution of the point cloud data may differ depending on the size of selected area.
                Therefore, small areas are more likely to be obtained in full resolution (i.e. 10 points per m<sup>2</sup>) than large areas.
            </div>

            <h2 id="settings">
                <div class="icon-inline gear-icon"></div>
                Settings</h2>
            <div>
                Settings are grouped into three tabs.
                <h4>Point</h4>
                Configure the "look and feel" of points.
                <h4>Measurement</h4>
                Configure how measurements are taken.
                <h4>Misc(ellaneous)</h4>
                Adjust other settings.
            </div>

            <h2 id="search">Search location</h2>
            <p>
                Locate a landmark (e.g. city, address) by
                <span class="glyphicon glyphicon-search inverted-glyphicon"></span>.
                You can also view the data for your current location
                <span class="glyphicon glyphicon-home inverted-glyphicon"></span>
                (geolocation must be enabled in your browser).
            </p>

            <h2 id="minimap">Minimap</h2>
            <p>
                Shows the camera field of view as a red trapezoid. Aerial photos are shown by default.
                Change to road map using the layer switcher (top right corner).
                Click <span class="glyphicon glyphicon-resize-full"></span> to enlarge the minimap.
            </p>

            <h2 id="toolbox">
                <div class="icon-inline toolbox-icon"></div>
                Toolbox</h2>
            <div>
                <ul><li>right-click mouse to select from different measuring tools</li></ul>
            </div>
            <div>
                <div>
                    <div class="icon-inline distance-icon"></div>
                    Distance measurement
                </div>
                <ul>
                  <li>left-click mouse to insert a measurement point</li>
                  <li>right-click mouse to complete the insertion</li>
                  <li>drag &amp; drop to move the measurement points</il>
                </ul>
            </div>
            <div>
                <div>
                    <div class="icon-inline area-icon"></div>
                    Surface area measurement
                </div>
                <ul>
                  <li>left-click mouse to insert a measurement point</li>
                  <li>right-click mouse to complete the insertion</li>
                  <li>drag &amp; drop to move the measurement points</il>
                </ul>
            </div>
            <div>
                <div>
                    <div class="icon-inline volume-icon"></div>
                    Volume measurement
                </div>
                <ul>
                  <li>left-click mouse to insert volume or select inserted volume</li>
                  <li>switch between translation (icon), scale (icon) and rotation (icon) mode or
                    use keyboard shortcuts (T, E or R)</li>
                </ul>
            </div>
            <div>
                <div>
                    <div class="icon-inline heightprofile-icon"></div>
                    Height profile
                </div>
                <ul>
                  <li>left-click mouse to insert a profile marker</li>
                  <li>right-click mouse to complete the insertion</li>
                  <li>drag &amp; drop to move the profile markers</li>
                  <li>ctrl+drag upwards/downwards to increase/decrease the profile width</li>
                </ul>
                Note: Depending on the <i>Clip mode</i>, points inside the profile are highlighted while points outside the profile are clipped.
            </div>
            <div>
                <div>
                    <div class="icon-inline clipvolume-icon"></div>
                    Clip volume
                </div>
                <ul>
                  <li>left-click mouse to insert volume or select inserted volume</li>
                  <li>switch between translation (icon), scale (icon) and rotation (icon) mode or
                    use keyboard shortcuts (T, E or R)</li>
                <ul>
            </div>
        </div>
        <div ng-show="helpModal.mobile" class="panel-body">
          <p style="color:red">
            Warning: This 3D visualization requires WebGL, which is not well suited for most mobile browsers. Please view this website on a non-mobile device for better user experience.</div>
          </p>
        <div ng-show="!helpModal.mobile&&!helpModal.chrome" class="panel-body">
          <p style="color:red">
            Warning: Unfortunately, your web browser is not supported by this viewer. Please use Google Chrome or Microsoft Edge.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
