<button class="icon-big extract-icon" ng-class="{active: ec.selection.active}" ng-click="ec.togglePanel()" title="Export points"></button>
<div class="panel panel-default extract-panel" collapse='!ec.selection.active'>
  <div class="panel-heading">Export points
    <button aria-label="Close" class="close" ng-click="ec.togglePanel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="panel-body">
    <div class="extraction-text">
      There are 3 ways to select a rectangle of points to extract.
      <ul>
        <li>Click on the minimap to select points in the red rectangle.</li>
        <li>Click and drag out a rectangle on the 3D view.</li>
        <li>Set the extent numbers manually below.</li>
      </ul>
    </div>
    <form class="form-inline" name="extractForm" role="search">
      <div class="row">
        <div class="col-xs-12 form-group">
          <label for="email">Send link to email</label>
          <input class="form-control" name="email" ng-minlength="4" ng-model="ec.email" placeholder="" type="email">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-offset-3 col-xs-6">
          <label for="top">Top</label>
          <input class="form-control" name="top" ng-model-options="{ debounce: 1000 }" ng-model="ec.selection.top" placeholder="" required step=0.01 type="number">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-6">
          <label for="left">Left</label>
          <input class="form-control" name="left" ng-model-options="{ debounce: 1000 }" ng-model="ec.selection.left" placeholder="" required step=0.01 type="number">
        </div>
        <div class="form-group col-xs-6">
          <label for="right">Right</label>
          <input class="form-control" name="right" ng-model-options="{ debounce: 1000 }" ng-model="ec.selection.right" placeholder="" required step=0.01 type="number">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-offset-3 col-xs-6">
          <label for="bottom">Bottom</label>
          <input class="form-control" name="bottom" ng-model-options="{ debounce: 1000 }" ng-model="ec.selection.bottom" placeholder="" required step=0.01 type="number">
        </div>
      </div>
      <button class="btn btn-default" ng-click="ec.count()" type="button">Count points</button>
      <button class="btn btn-primary" ng-click="ec.submit()" ng-disabled="extractForm.$invalid" type="submit">Submit</button>
      <div class="row">
        <div class="col-xs-6">
          Number of points:
          <span>{{ec.size.rawPoints | number}}</span>
        </div>
        <div class="col-xs-6">
          Coverage (%):
          <span title="When not all points can be extracted, a percentage is returned">{{ec.size.coverage * 100 | number}}</span>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
