<button ng-click="ec.selection.active=!ec.selection.active" ng-class="{active: ec.selection.active}" class="icon-big extract-icon" title="Extract points"></button>
<div collapse='!ec.selection.active' class="panel panel-default extract-panel">
  <div class="panel-heading">Extract points
    <button ng-click="ec.selection.active=!ec.selection.active" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="panel-body">
    <form class="form-inline" role="search" name="extractForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" required ng-minlength="4" class="form-control" name="email" placeholder="" ng-model="ec.email" compute-selection-size>
      </div>
      <fieldset>
        <div class="form-group">
          <label for="left">Left</label>
          <input required type="number" step=0.01 class="form-control" name="left" placeholder="" ng-model="ec.selection.left">
        </div>
        <div class="form-group">
          <label for="top">Top</label>
          <input required type="number" step=0.01 class="form-control" name="top" placeholder="" ng-model="ec.selection.top">
        </div>
        <button ng-click="ec.setBottomLeft()" type="submit" class="btn btn-default">set</button>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <label for="right">Right</label>
          <input required type="number" step=0.01 class="form-control" name="right" placeholder="" ng-model="ec.selection.right">
        </div>
        <div class="form-group">
          <label for="bottom">Bottom</label>
          <input required type="number" step=0.01 class="form-control" name="bottom" placeholder="" ng-model="ec.selection.bottom">
        </div>
        <button ng-click="ec.setTopRight()" type="submit" class="btn btn-default">set</button>
      </fieldset>
      <div >
        Selected number of points:
        <span>{{ec.size.points}}</span>
        Level:
        <span>{{ec.size.level}}</span>
        Coverage (%):
        <span>{{ec.size.coverage}}</span>
      </div>
      <button ng-click="ec.count()" type="submit" class="btn btn-default">Count points</button>
      <button ng-disabled="extractForm.$invalid" ng-click="ec.submit()" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
